{{ form.non_field_errors }}
{% for field in form %}
    {% if field.name != 'commentary' %}
        <div style="display:inline-block; width: 49%;">
            {{ field.errors }}
            <!-- {{ field.label_tag }} --> {{ field }}
        </div>
    {% endif%}
    {% if field.name == 'commentary' %}
        <div style="display:inline-block; width: 100%; height: 25px;">
            {{ field.errors }}
            <!-- {{ field.label_tag }} --> {{ field }}
        </div>
    {% endif %}
{% endfor %}
<input type="submit" class="btn btn-primary" value="Отправить">
