{{ form.non_field_errors }}

{% for field in form %}
  {% if field.name != 'commentary' and field.name != 'commentary_exp'%}
    <div class="field-narrow">
      {{ field }}
      <div class="invalid-tooltip">
        {{ field.errors }}
      </div>
    </div>
  {% endif%}

  {% if field.name == 'commentary' or field.name == 'commentary_exp' %}
    <div class="field-wide">
      {{ field }}
      <div class="invalid-tooltip">
        {{ field.errors }}
      </div>
    </div>
  {% endif %}
{% endfor %}

<input type="submit" class="btn btn-primary" value="Отправить">
