{% load static %}
<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link
      href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"
      rel="stylesheet"
    />
    <link href="{% static 'css/core.css' %}" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.8.2/css/all.css"
    />
  </head>

  <body>
    <div class="conteiner-body">
      <aside>
        <h3 class="logo">
          <i class="fab fa-monero">Budget<br />Manager</i>
        </h3>
        <ul class="navigation">
          <li><a href="/"><i class="fas fa-home"> Главная страница</i></a></li>
          <li><a href="/history"><i class="fas fa-file-invoice-dollar"> История операций</i></a></li>
          <li><a href="/report"><i class="fas fa-chart-pie"> Отчет</i></a></li>
        </ul> 
      </aside>
    </div>

    <!-- Bootstrap core JavaScript -->
    <script
      type="text/javascript"
      src="{% static 'vendor/jquery/jquery.min.js' %}"
    ></script>
    <script
      type="text/javascript"
      src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"
    ></script>
  </body>
</html>
