{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Index</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

</head>

<body>

  <div class="container border">
      <div class="row">
        <div class="col">
          <h1 class="text-center">HEADER</h1>
        </div>
      </div>
      <div class="row">
          <nav class="navbar col-2">
            <ul class="navbar-nav flex-column">
                <li class="nav-item">
                    <a class="nav-link" href="#">Main</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">History</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Report</a>
                </li>
            </ul>
          </nav>
          
          <div class="col">
            {% block content %}
            {% endblock %}
          </div>
      </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script type="text/javascript" src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

</body>

</html>
