{% extends 'core/base.html' %}
{% load core_custom_tags %}
{% load static %}
{% block title %}Редактирование{% endblock %}
{% block content %}
    <h1>Cтраница редактирования операции</h1>
    <a class="btn btn-danger" href="{% url 'core:history' %}" name="redirect_home" >Вернуться к истории</a>

    {% if transaction_type == "IncomeTransaction" %}

        <div class="row justify-content-center row-transaction-history">
                <div class="col-xl-5 col-lg-8 col-md-10">
                <div class="card mt-4">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm">{{ transaction.account.name }}</div>
                            <div class="col-sm history-date">{{ transaction.date }}</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-around">
                            <div class="col">
                            <fieldset class="reset-this redo-fieldset">
                                <legend class="reset-this redo-legend"> Сумма </legend>
                                <h5 class="card-title  text-center">+{{ transaction.amount|division:100 }} руб.</h5>
                            </fieldset>    
                            </div>
                            <div class="col">
                            <fieldset class="reset-this redo-fieldset">
                                <legend class="reset-this redo-legend"> Категория </legend>
                                <h5 class="card-title  text-center">{{ transaction.income_category.name }}</h5>
                            </fieldset>  
                                                
                            </div>
                        </div>
                        {% if transaction.commentary %}
                            <div class="row">
                            <div class="col">
                                <fieldset class="reset-this redo-fieldset history-commentary">
                                <legend class="reset-this redo-legend"> Комментарий </legend>
                                <p class="card-text text-center pr-2">{{ transaction.commentary }}</p>
                                </fieldset>  
                            </div>
                            </div>
                        {% endif %}
                        
                    </div>
                </div>
                </div>
        </div>


        <div class="row">
            <div class="col col-main">
                <div class="content-rec expense-form">
                    <h5 class="text-center">Редактирование</h5>
                    <form method="POST" class="my-form">
                        {% csrf_token %}
                        <div class="w-100"></div>
                        <div class="field-narrow">
                            <input class="form-control" type="number" pattern="[0-9]+([\.,][0-9]+)?" min="0" step="any" name="amount" placeholder="Сумма" value="{{ transaction.amount|kopecks_to_rubles }}" />
                        </div>
                        <div class="field-narrow">
                            <select name="account" class="form-control">
                                <option value="1" {% if transaction.account_id == 1 %}selected{% endif %}>Карта</option>
                                <option value="2" {% if transaction.account_id == 2 %}selected{% endif %}>Наличные</option>
                            </select>
                        </div>
                        <div class="field-narrow">
                            <select name="category" class="form-control">
                                <option value="1" {% if transaction.income_category_id == 1 %}selected{% endif %}>Зарплана</option>
                                <option value="2" {% if transaction.income_category_id == 2 %}selected{% endif %}>Стипендия</option>
                                <option value="3" {% if transaction.income_category_id == 3 %}selected{% endif %}>Другое</option>
                            </select>
                        </div>
                        <div class="field-narrow">
                            <input type="date" name="when" value="{{transaction.date.year}}-{{transaction_date_month_for_input}}-{{transaction_date_day_for_input}}" class="form-control" required="" id="id_when">
                        </div>
                        <div class="field-wide">
                            <textarea cols="40" rows="10" placeholder="Комментарий" class="form-control" name="commentary">{{transaction.commentary}}</textarea>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Сохранить" >
                    </form>
                </div>
            </div>
        </div>

    {% endif %}

    {% if transaction_type == "ExpenseTransaction" %}
        <div class="row justify-content-center row-transaction-history">
                <div class="col-xl-5 col-lg-8 col-md-10">
                <div class="card mt-4">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-sm">{{ transaction.account.name }}</div>
                            <div class="col-sm history-date">{{ transaction.date }}</div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row justify-content-around">
                            <div class="col">
                            <fieldset class="reset-this redo-fieldset">
                                <legend class="reset-this redo-legend"> Сумма </legend>
                                <h5 class="card-title  text-center">-{{ transaction.amount|division:100 }} руб.</h5>
                            </fieldset>    
                            </div>
                            <div class="col">
                            <fieldset class="reset-this redo-fieldset">
                                <legend class="reset-this redo-legend"> Категория </legend>
                                <h5 class="card-title  text-center">{{ transaction.expense_category.name }}</h5>
                            </fieldset>  
                                                
                            </div>
                        </div>
                        {% if transaction.commentary %}
                            <div class="row">
                            <div class="col">
                                <fieldset class="reset-this redo-fieldset history-commentary">
                                <legend class="reset-this redo-legend"> Комментарий </legend>
                                <p class="card-text text-center pr-2">{{ transaction.commentary }}</p>
                                </fieldset>  
                            </div>
                            </div>
                        {% endif %}
                        
                    </div>
                </div>
                </div>
        </div>

        <div class="row">
            <div class="col col-main">
                <div class="content-rec expense-form">
                    <h5 class="text-center">Редактирование</h5>
                    <form method="POST" class="my-form">
                        {% csrf_token %}
                        <div class="w-100"></div>
                        <div class="field-narrow">
                            <input class="form-control" type="number" pattern="[0-9]+([\.,][0-9]+)?" min="0" step="any" name="amount" placeholder="Сумма" value="{{ transaction.amount|kopecks_to_rubles }}" />
                        </div>
                        <div class="field-narrow">
                            <select name="account" class="form-control">
                                <option value="1" {% if transaction.account_id == 1 %}selected{% endif %}>Карта</option>
                                <option value="2" {% if transaction.account_id == 2 %}selected{% endif %}>Наличные</option>
                            </select>
                        </div>
                        <div class="field-narrow">
                            <select name="category" class="form-control">
                                <option value="1" {% if transaction.expense_category_id == 1 %}selected{% endif %}>Продукты</option>
                                <option value="2" {% if transaction.expense_category_id == 2 %}selected{% endif %}>Коммунальные платежи</option>
                                <option value="3" {% if transaction.expense_category_id == 3 %}selected{% endif %}>Развлечения</option>
                                <option value="4" {% if transaction.expense_category_id == 4 %}selected{% endif %}>Другое</option>
                            </select>
                        </div>
                        <div class="field-narrow">
                            <input type="date" name="when" value="{{transaction.date.year}}-{{transaction_date_month_for_input}}-{{transaction_date_day_for_input}}" class="form-control" required="" id="id_when">
                        </div>
                        <div class="field-wide">
                            <textarea cols="40" rows="10" placeholder="Комментарий" class="form-control" name="commentary">{{transaction.commentary}}</textarea>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Сохранить" >
                    </form>
                </div>
            </div>
        </div>
        
    {% endif %}

    {% if transaction_type == "InnerTransaction" %}
        <div class="row justify-content-center row-transaction-history">          
            <div class="col-xl-5 col-lg-8 col-md-10">            
            <div class="card mt-4">
                <div class="card-header">
                <div class="row">
                    <div class="col-sm">{{ transaction.account_from.name }} -> {{ transaction.account_to.name }}</div>
                    <div class="col-sm history-date">{{ transaction.date }}</div>
                </div>
                </div>
                <div class="card-body">
                <div class="row justify-content-around">
                    <div class="col">
                    <fieldset class="reset-this redo-fieldset inner-amount">
                        <legend class="reset-this redo-legend"> Сумма </legend>
                        <h5 class="card-title text-center mt-2">{{ transaction.amount|division:100 }} руб.</h5>
                    </fieldset>    
                    </div>
                    <div class="col">
                        <fieldset class="reset-this redo-fieldset">
                        <legend class="reset-this redo-legend"> Категория </legend>
                        <h5 class="card-title  text-center">Перевод между своими счетами</h5>
                        </fieldset>                        
                    </div>
                    </div>
                    
                    {% if transaction.commentary %}
                    <div class="row">
                        <div class="col">
                        <fieldset class="reset-this redo-fieldset history-commentary">
                            <legend class="reset-this redo-legend"> Комментарий </legend>
                            <p class="card-text text-center pr-2">{{ transaction.commentary }}</p>
                        </fieldset>  
                        </div>
                    </div>
                    {% endif %}
                </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col col-main">
                <div class="content-rec expense-form">
                    <h5 class="text-center">Редактирование</h5>
                    <form method="POST" class="my-form">
                        {% csrf_token %}
                        <div class="w-100"></div>
                        <div class="field-narrow">
                            <input class="form-control" type="number" pattern="[0-9]+([\.,][0-9]+)?" min="0" step="any" name="amount" placeholder="Сумма" value="{{ transaction.amount|kopecks_to_rubles }}" />
                        </div>
                        <div class="field-narrow">
                            <select name="account_from_id" class="form-control">
                                <option value="1" {% if transaction.account_from_id == 1 %}selected{% endif %}>Карта</option>
                                <option value="2" {% if transaction.account_from_id == 2 %}selected{% endif %}>Наличные</option>
                            </select>
                        </div>
                        <div class="field-narrow">
                            <select name="account_to_id" class="form-control">
                                <option value="1" {% if transaction.account_to_id == 1 %}selected{% endif %}>Карта</option>
                                <option value="2" {% if transaction.account_to_id == 2 %}selected{% endif %}>Наличные</option>
                            </select>
                        </div>
                        <div class="field-narrow">
                            <input type="date" name="when" value="{{transaction.date.year}}-{{transaction_date_month_for_input}}-{{transaction_date_day_for_input}}" class="form-control" required="" id="id_when">
                        </div>
                        <div class="field-wide">
                            <textarea cols="40" rows="10" placeholder="Комментарий" class="form-control" name="commentary">{{transaction.commentary}}</textarea>
                        </div>
                        <input type="submit" class="btn btn-primary" value="Сохранить" >
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock %}

   
