{% extends 'DBExplorer/base.html' %}

{% block model_name %}{{model_name}}{% endblock %}

{% block content %}
  <tr>
    <th>id</th>
    <th>date</th>
    <th>amount</th>
    <th>commentary</th>
    <th>account_id</th>
    <th>income_category_id</th>
  </tr>
  {% for transaction in object_list %}
    <tr>
      <td>{{transaction.id}}</td>
      <td>{{transaction.date}}</td>
      <td>{{transaction.amount}}</td>
      <td>{{transaction.commentary}}</td>
      <td>{{transaction.account.id}}</td>
      <td>{{transaction.income_category.id}}</td>
    </tr>
  {% endfor %}
{% endblock %}
