body {
  background: #2c2c2c;
  color: #fff;
}

aside {
  float: left;
  background: #181818;
  height: 100vh;
  width: 15%;
  position: fixed;
}

.logo {
  margin: 20px;
  width: 80px;
  height: 30px;
}

.nav-link{
  margin-top: 10px;
  color: #dbdbdb;
}

.nav-link:hover{
  color: #fff;
}

.nav-link.active{
  background-color: #2c2c2c;
  color: #fff;
  width: 100%;
  margin-left: 10px;
}

.history-date{
  text-align: right;
}

.reset-this {
  all: initial;
}

.redo-fieldset {
  border: 1px solid #ecebec;
  border-radius: 8px;
  width: 91%;
  padding-inline-start: 0.75em;
  color: #ecebec;
} 

.inner-amount {
  height: 90%;
}

.redo-legend {
  color: #ecebec;
  padding-inline-start: 3px;
  padding-inline-end: 3px;
} 

.history-commentary{
  height: 100%;
  width: 96%;
  word-wrap: break-word;
}

.card{
  background-color: hsla(0, 0%, 34%, 0.767);
  border-color: #363636;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.card-header{
  color: #ecebec;
}

.cd-main{
  background-color: hsla(0, 0%, 34%, 0.767);
  border-color: #363636;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.cd-h-main{
  color: #ecebec;
  padding: .5rem 1.1rem;
}

.cd-b-main {
  padding: 1.1rem;
}

.cd-sm-main{
  font-size: small;
}

.cd-med-main {
  font-size: medium;
}

/*.expense-color{
  color: #242424;
  background-color: hsla(1, 97%, 64%, 0.911);
}

.row-transaction-history{
  margin-top: 20px;
.income-color{
  color: #242424;
  background-color: hsla(103, 82%, 63%, 0.911);
}*/ 

.card-text{
  color: #ecebec;
}

.row{
  flex-wrap: nowrap;
}


.main-content{
  /* margin: auto; */
  justify-content: space-between;
}


.col{
  display: flex;
  padding: 10px;
  flex-direction: column;
}

.col-main {
  align-items: center;
}

.col-main-center {
  flex-direction: row;
  flex-wrap: wrap-reverse;
}

.content-rec {
  border-radius: 5px;
  padding: 15px 7px;
  background-color: #474747;
  display: inline-block;
  margin: 10px 5px;
}

.income-form, .expense-form{
  width: 335px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.history-log{
  width: 335px;
  height: 400px;
  overflow: hidden;
}


.latest-transactions{
  display: flex;
  flex-direction: column;
  overflow: auto; 
  height: 350px;
  width: 350px;  
}

.my-form{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  height: 86%;
}

.form-control{
  display: inline-block;
  min-height: 40px;
  max-height: 100px;
  margin: 10px auto 5px
}

ul, li{
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.field-narrow, .field-wide{
  position: relative;
}

.one-tran {
  margin: 0.25rem 0.12rem;
  width: 317px;
}

.field-narrow {
  display:inline-block; 
  width: 49%;
  height: 70px;
}

.field-wide {
  display:inline-table; 
  width: 100%;
  height: 20px;
}
.form-control.is-invalid{
  background-position: right calc(.375em + .9rem) center;
}

.balance, .expenses{
  width: 195px;
}


.invisible {
  display: none;
}

.expenses-diag {
  width: 400px;
  order: -3;
  height: 220px;
}

.btn-secondary{
  background-color: #2c2c2c;
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle {

  background-color: crimson;
}

.btn-chose-form{
  width: 50%;
  margin: auto;
}