
body {
  background: #2c2c2c;
  color: #fff;
}

aside {
  float: left;
  background: #181818;
  height: 100%;
  min-height: 100vh;
}

.logo {
  margin: 20px;
  width: 80px;
  height: 30px;
}

.nav-link{
  margin-top: 10px;
  color: #dbdbdb;
}

.nav-link:hover{
  color: #fff;
}

.nav-link.active{
  background-color: #2c2c2c;
  color: #fff;
  width: 100%;
  margin-left: 10px;
  border-right:3px solid #2c2c2c
}

.row{
  flex-wrap: nowrap;
}


.left-forms {
  display: flex;
  flex-direction: column;
}

.features {
  border-radius: 5px;
  padding: 15px 7px;
  background-color: #474747;
  display: inline-block;
  margin: 10px 5px;
}

.income-form{
  width: 335px;
}
.expense-form{
  width: 335px;
}

.history-log{
  width: 335px;
  min-height: 400px;
}

.form-control{
  display: inline-block;
  min-height: 40px;
  max-height: 100px;
  margin: 10px auto 5px
}

ul, li{
  list-style-type: none;
}